
<div id="masthead">  
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                 <h1 style="text-align: center;">Login form
                <p class="lead"></p> 
                </h1>
            </div>
         </div>
    </div> 
</div>
  
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="top-spacer"> </div>
         </div>
    </div> 
 </div>
  



<div class="container">
    <div class="row">
        <div class="col-md-12"> 
             <div class="panel">
                 <div class="panel-body">
                  <!-- login form starts-->
                    <!-- <div class="myMargin inputForm bg-input"> -->
                     <div class= "col-md-4 col-lg-offset-4 ">                      
                        <form action="/login/loguser" method="POST" onsubmit="return validate()">
                            <div class="form-group">
                                 <label for="exampleInputEmail1">Email address</label>
                                 <input type="text" name="email" required class="form-control"  id="email" aria-describedby="emailHelp">
                             </div>
                            <div class="form-group">
                                 <label for="exampleInputPassword1">Password</label>
                                <input type="password" name="password" required class="form-control"  id="pwd">
                             </div>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                 <label class="form-check-label" for="exampleCheck1">Remember me</label>
                            </div>
                             <button type="submit" class="btn btn-primary" id="submit">Login</button>
                         </form>
                    </div>
        
        <!-- login form ends -->
        
      
             
        </div>
      </div>                                                                                                                                                                           
   	</div>
  </div>
</div>                                              
<app-footer></app-footer>