<header class="navbar navbar-bright navbar-fixed-top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <nav class="collapse navbar-collapse" role="navigation">
                <ul class="nav navbar-right navbar-nav">
                    <a routerLink="/home-component" routerLinkActive="active" class="navbar-brand">Home</a>
                    <li><a routerLink="/login-component" routerLinkActive="active">BOOKS</a></li>
                    <li><a routerLink="/signup-component" routerLinkActive="active">AUTHORS</a></li>
                </ul>
            </nav>
           
        </div>
    </div>     
</header>